<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" type="image/x-icon" href="../../public/Img/ImgLogos/LogoQueSiempreSeOcupa.PNG">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>Casa Jorge</title>
</head>

<body class="TipoDeLetraGEneral">
    <div class="text-center ColorDeFooter border-bottom border-3" data-aos="zoom-in">
        <h1 class=" GrosorDeLetra">Soluciones Efectivas Para Eliminar Ratones En Tu Hogar <br> Racumin Super</h1>
    </div>
    <!--Esto va fuera del container-->

    <!--Contenido de informacion-->
    <div class="container">
        <!--Div de abajo es del container-->
        <div class="row mt-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div>
                    <h4 class="text-center" data-aos="zoom-in"><b>Racumin® Super es muy efectivo para eliminar ratas y ratones. Aquí te explico cómo usarlo de forma segura<hr></b></h4>
                    <h5 class="mt-1" data-aos="zoom-in"><b>Encuentra las áreas donde hay ratones</b></h5>
                    <h6 data-aos="zoom-in">Busca signos como nidos, huellas o excrementos en lugares donde los ratones suelen estar, como cerca de la comida o en rincones<hr></h6>
                    <h5 data-aos="zoom-in"><b>Coloca el cebo en un lugar seguro</b></h5>
                    <h6 data-aos="zoom-in">Usa estaciones de cebo o recipientes cerrados para poner el Racumin. Así evitarás que niños o mascotas puedan tener contacto con el veneno<hr></h6>
                    <h5 data-aos="zoom-in"><b>Pon el cebo en los caminos de los ratones</b></h5>
                    <h6 data-aos="zoom-in">Coloca el producto cerca de las paredes, en rincones o áreas donde hayas visto a los ratones moverse<hr></h6>
                    <h5 data-aos="zoom-in"><b>Revisa y cambia el cebo</b></h5>
                    <h6 data-aos="zoom-in">Mira con frecuencia si los ratones han consumido el cebo. Si es necesario, reemplázalo hasta que ya no veas actividad de ratones<hr></h6>
                    <h5 data-aos="zoom-in"><b>Toma precauciones</b></h5>
                    <h6 data-aos="zoom-in">Usa guantes para manejar el cebo y lávate las manos después. Evita tocar alimentos o utensilios mientras lo manipulas<hr></h6>
                    <h5 data-aos="zoom-in"><b>Elimina los roedores muertos</b></h5>
                    <h6 data-aos="zoom-in">Si encuentras ratones muertos, retíralos rápidamente para evitar malos olores o enfermedades. Colócalos en una bolsa de plástico bien cerrada.<hr></h6>
                </div>
            </div>
            <div class="col-sm-6" data-aos="zoom-in">
                <div class="text-center mt-4">
                    <img src="../Img/productosImagenes/Producto1.webp" class="img-fluid rounded card-efecto mt-3" alt="" srcset="">
                </div>
            </div>
        </div>
        <h6 class="text-center mt-4" data-aos="zoom-in">Racumin Super es un rodenticida altamente eficiente para eliminar ratas y ratones. Su fórmula garantiza resultados efectivos en áreas infestadas. Consíguelo en Casa Jorge y mantén tus espacios libres de plagas de forma segura. Recuerda seguir siempre las instrucciones del producto para un uso adecuado. <hr></h6>
        <!--Div de abajo es del container-->
    </div>
    <!--Contenido de informacion-->


    <!--Container de Footer-->
    <div class="container-fluid ColorDeFooter border-top border-3 mt-5" data-aos="zoom-in">
        <div class="container">
            <div class="row justify-content-around mt-2">
                <div class="order-2 order-md-1 col-md-5 text-center text-md-end align-self-center mt-2">
                    <p class="TamDeLetra"><b>Sitio web</b></p>
                    <p class="TamDeLetra">Ferretería y Tlapalería "Casa Jorge"</p>
                    <p class="TamDeLetra"><b>Tel: 55 49 47 93 28</b></p>
                </div>
                <div class="order-1 order-md-2 col-md-2 align-self-center">
                    <img src="../../public/Img/ImgLogos/LogoQueSiempreSeOcupa.PNG"
                        class="TamDeImgDeFooter mx-auto d-block mb-2 card-efecto" alt="">
                </div>
                <div class="order-3 order-md-3 col-md-5 text-center text-md-start align-self-center">
                    <p class="TamDeLetra"><b>Dirección</b></p>
                    <p class="TamDeLetra">Av. 5 de Mayo Ote. 81, Xaltipac, Milpa Alta, 12100 San Antonio Tecómitl, CDMX
                    </p>
                    <p class="TamDeLetra"><b>Correo Electronico</b></p>
                    <p class="TamDeLetra">CasaJorge1999@gmail.com</p>
                </div>
            </div>
            <div class="row border-top mt-2">
                <div class="col-12 mt-2">
                    <p class=" text-center TamDeLetra">Derechos Reservados Ferretería y Tlapalería "Casa Jorge" |
                        Creador De Sistemas Web (+52) 55 49 47 93 28</p>
                </div>
            </div>
        </div>
    </div>
    <!--Container de Footer-->
    <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../../public/js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
    <script src="../../public/js/mascaraDeCarga/jquery.blockUI.js"></script>
    <script src="../../public/js/mascaraDeCarga/mascara.js"></script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../../public/js/bootstrap/bootstrap.min.js"></script>

    <script src="../../public/js/aos.js"></script>
    <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>

</html>