<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" type="image/x-icon" href="../../public/Img/ImgLogos/LogoQueSiempreSeOcupa.PNG">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>Casa Jorge</title>
</head>

<body class="TipoDeLetraGEneral">
    <div class="text-center ColorDeFooter border-bottom border-3" data-aos="zoom-in">
        <h1 class=" GrosorDeLetra">Soluciones Efectivas Para Eliminar Ratones En Tu Hogar</h1>
    </div>
    <!--Esto va fuera del container-->

    <!--Contenido de informacion-->
    <div class="container">
        <!--Div de abajo es del container-->
        <div class="row mt-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div>
                    <br>
                    <h4 class="text-center mt-5" data-aos="zoom-in"><b>Instrucciones para Usar Rata Fin<hr></b></h4>
                    <h5 class="mt-1" data-aos="zoom-in"><b>Identifica las zonas de actividad</b></h5>
                    <h6 data-aos="zoom-in">Busca áreas donde hayas visto ratones, como rincones, detrás de muebles o en lugares oscuros<hr></h6>
                    <h5 data-aos="zoom-in"><b>Coloca el veneno en áreas clave</b></h5>
                    <h6 data-aos="zoom-in">Distribuye el producto en las zonas donde transitan los roedores, asegurándote de mantenerlo fuera del alcance de niños y mascotas<hr></h6>
                    <h5 data-aos="zoom-in"><b>Verifica regularmente</b></h5>
                    <h6 data-aos="zoom-in">Revisa las áreas donde colocaste Rata Fin y reemplaza el producto si es necesario, hasta que notes que la actividad de los ratones ha cesado<hr></h6>
                    <h5 data-aos="zoom-in"><b>Elimina los ratones muertos</b></h5>
                    <h6 data-aos="zoom-in">Usa guantes para retirar los ratones muertos y deséchalos en bolsas bien cerradas para evitar contaminación<hr></h6>
                </div>
            </div>
            <div class="col-sm-6" data-aos="zoom-in">
                <div class="text-center mt-4">
                    <img src="../Img/productosImagenes/Producto8.webp" class="img-fluid rounded card-efecto mt-3" width="550rem;" alt="" srcset="">
                </div>
            </div>
        </div>
        <h6 class="text-center mt-4" data-aos="zoom-in">Rata Fin es un veneno altamente eficaz para eliminar ratones de forma rápida y segura. Mantén tus espacios libres de plagas con este potente producto. Consíguelo en Tlapalería y Ferretería Casa Jorge<hr></h6>
        <!--Div de abajo es del container-->
    </div>
    <!--Contenido de informacion-->


    <!--Container de Footer-->
    <div class="container-fluid ColorDeFooter border-top border-3 mt-5" data-aos="zoom-in">
        <div class="container">
            <div class="row justify-content-around mt-2">
                <div class="order-2 order-md-1 col-md-5 text-center text-md-end align-self-center mt-2">
                    <p class="TamDeLetra"><b>Sitio web</b></p>
                    <p class="TamDeLetra">Ferretería y Tlapalería "Casa Jorge"</p>
                    <p class="TamDeLetra"><b>Tel: 55 58 47 04 40</b></p>
                </div>
                <div class="order-1 order-md-2 col-md-2 align-self-center">
                    <img src="../../public/Img/ImgLogos/LogoQueSiempreSeOcupa.PNG"
                        class="TamDeImgDeFooter mx-auto d-block mb-2 card-efecto" alt="">
                </div>
                <div class="order-3 order-md-3 col-md-5 text-center text-md-start align-self-center">
                    <p class="TamDeLetra"><b>Dirección</b></p>
                    <p class="TamDeLetra">Av. 5 de Mayo Ote. 81, Xaltipac, Milpa Alta, 12100 San Antonio Tecómitl, CDMX
                    </p>
                    <p class="TamDeLetra"><b>Correo Electronico</b></p>
                    <p class="TamDeLetra">CasaJorge1999@gmail.com</p>
                </div>
            </div>
            <div class="row border-top mt-2">
                <div class="col-12 mt-2">
                    <p class=" text-center TamDeLetra">Derechos Reservados Ferretería y Tlapalería "Casa Jorge" |
                        Creador De Sistemas Web (+52) 55 58 47 04 40</p>
                </div>
            </div>
        </div>
    </div>
    <!--Container de Footer-->
    <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../../public/js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
    <script src="../../public/js/mascaraDeCarga/jquery.blockUI.js"></script>
    <script src="../../public/js/mascaraDeCarga/mascara.js"></script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../../public/js/bootstrap/bootstrap.min.js"></script>

    <script src="../../public/js/aos.js"></script>
    <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>

</html>