<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <link rel="stylesheet" href="../../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/aos.css">
    <!--Contenido De Css 3 Botstrap, Aos Animation, Style.css-->
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" type="image/x-icon" href="../../public/Img/ImgLogos/LogoQueSiempreSeOcupa.PNG">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <title>Casa Jorge</title>
</head>

<body class="TipoDeLetraGEneral">
    <div class="text-center ColorDeFooter border-bottom border-3" data-aos="zoom-in">
        <h1 class=" GrosorDeLetra">Soluciones Efectivas Para Eliminar Ratones En Tu Hogar</h1>
    </div>
    <!--Esto va fuera del container-->

    <!--Contenido de informacion-->
    <div class="container">
        <!--Div de abajo es del container-->
        <div class="row mt-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div>
                    <br>
                    <h4 class="text-center mt-5" data-aos="zoom-in"><b>Instrucciones para Usar la Trampa para Ratones<hr></b></h4>
                    <h5 class="mt-1" data-aos="zoom-in"><b>Selecciona el lugar adecuado</b></h5>
                    <h6 data-aos="zoom-in">Coloca la trampa en áreas donde hayas observado actividad de ratones, como cerca de paredes, esquinas o en lugares oscuros<hr></h6>
                    <h5 data-aos="zoom-in"><b>Prepara la trampa</b></h5>
                    <h6 data-aos="zoom-in">Abre la trampa y coloca un cebo atractivo, como mantequilla de maní o semillas, en el área designada para atraer a los ratones<hr></h6>
                    <h5 data-aos="zoom-in"><b>Cierra la trampa</b></h5>
                    <h6 data-aos="zoom-in">Asegúrate de que la trampa esté bien cerrada y asegurada para que funcione correctamente<hr></h6>
                    <h5 data-aos="zoom-in"><b>Revisa y desecha</b></h5>
                    <h6 data-aos="zoom-in">Verifica la trampa regularmente. Si atrapas un ratón, usa guantes para retirarlo y deséchalo de manera segura, luego limpia la trampa para usarla nuevamente<hr></h6>
                </div>
            </div>
            <div class="col-sm-6" data-aos="zoom-in">
                <div class="text-center mt-4">
                    <img src="../Img/productosImagenes/Producto6.webp" class="img-fluid rounded card-efecto mt-3" width="550rem;" alt="" srcset="">
                </div>
            </div>
        </div>
        <h6 class="text-center mt-4" data-aos="zoom-in">¡Controla la presencia de ratones de manera eficiente con nuestra Trampa para Ratones! Es fácil de usar y garantiza resultados rápidos. Adquiérela en Tlapalería y Ferretería Casa Jorge, donde siempre estamos a tus órdenes para brindarte soluciones efectivas<hr></h6>
        <!--Div de abajo es del container-->
    </div>
    <!--Contenido de informacion-->


    <!--Container de Footer-->
    <div class="container-fluid ColorDeFooter border-top border-3 mt-5" data-aos="zoom-in">
        <div class="container">
            <div class="row justify-content-around mt-2">
                <div class="order-2 order-md-1 col-md-5 text-center text-md-end align-self-center mt-2">
                    <p class="TamDeLetra"><b>Sitio web</b></p>
                    <p class="TamDeLetra">Ferretería y Tlapalería "Casa Jorge"</p>
                    <p class="TamDeLetra"><b>Tel: 55 49 47 93 28</b></p>
                </div>
                <div class="order-1 order-md-2 col-md-2 align-self-center">
                    <img src="../../public/Img/ImgLogos/LogoQueSiempreSeOcupa.PNG"
                        class="TamDeImgDeFooter mx-auto d-block mb-2 card-efecto" alt="">
                </div>
                <div class="order-3 order-md-3 col-md-5 text-center text-md-start align-self-center">
                    <p class="TamDeLetra"><b>Dirección</b></p>
                    <p class="TamDeLetra">Av. 5 de Mayo Ote. 81, Xaltipac, Milpa Alta, 12100 San Antonio Tecómitl, CDMX
                    </p>
                    <p class="TamDeLetra"><b>Correo Electronico</b></p>
                    <p class="TamDeLetra">CasaJorge1999@gmail.com</p>
                </div>
            </div>
            <div class="row border-top mt-2">
                <div class="col-12 mt-2">
                    <p class=" text-center TamDeLetra">Derechos Reservados Ferretería y Tlapalería "Casa Jorge" |
                        Creador De Sistemas Web (+52) 55 49 47 93 28</p>
                </div>
            </div>
        </div>
    </div>
    <!--Container de Footer-->
    <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../../public/js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
    <script src="../../public/js/mascaraDeCarga/jquery.blockUI.js"></script>
    <script src="../../public/js/mascaraDeCarga/mascara.js"></script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../../public/js/bootstrap/bootstrap.min.js"></script>

    <script src="../../public/js/aos.js"></script>
    <!--Contenido De jS Mascara De Carga, Botstrap, Aos Animation-->
</body>

</html>